@import '../utils/variables';

// --- 
// ANIMATIONS
// ---

@mixin keyframes ($animation-name) {
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($name) {
    animation: #{$name};
}

@include keyframes(fadeInUp) {
    0% {
        opacity: 0;
        transform: translateY(100%);
      }
            
      100% {
        opacity: 1;
        transform: translateY(0);
      }
}

@include keyframes(trfLoader) {
    0% , 5%{
        transform: translateX(64px) scale(1);
        background: $purple;
      }
      10%{
        transform: translateX(64px) scale(1);
        background: $lightpurple;
      }
      40%{
          transform: translateX(32px) scale(1.5);
          background: $lightpurple;
        }
      90%, 95% {
        transform: translateX(0px) scale(1);
        background: $lightpurple;
      }
      100% {
        transform: translateX(0px) scale(1);
        background: $mint;
      }
}

@include keyframes(ballMoveX) {
    0% , 10%{  transform: translateX(0) }
    90%, 100% { transform: translateX(32px) }
}


@include keyframes(loaderOff) {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(-100%);
    }
}