// ---
// COLORS 
// ---

$mint: #99E2D0;
$green: #008766;
$lightblue: #89C8FA;
$darkblue: #003A68;
$lightpurple: #FF79DA;
$purple: #9356DC;
$white: #fff;
$black: #000;
$backgroundgrey: #F6F6F6;
$midgrey: #7E7E7E;
$lightgrey: #EAEAEA;
$darkgrey: #353535;