@import '../utils/mixins';
@import '../utils/variables';

.back__arrow {
    padding: 5px 7px;
    position: absolute;
    top: 23px;
    left: 25px;

    @include desktop {
        top: 35px;
    }

    .fa-arrow-left {
        font-size: 22px;
        color: $darkgrey;
    }

    &:hover {
        background-color: $lightgrey;
        border-radius: 20px;
    }
}