@import '../utils/mixins';
@import '../utils/variables';

.restaurant__heart {
    position: relative;
    width: 22px;

    @include tablet {
        margin-left: 25px;
    }

    .fa-heart {
        position: absolute;
        font-size: 22px;
        top: 6px;
        right: 0;

        &.fa-heart-hover {
            background: linear-gradient(to bottom, #FF79DA, #9356DC);
            background-clip: text;
            color: transparent;
            opacity: 0;
            transition: 300ms ease-in-out;


            &:hover {
                opacity: 1;
                cursor: pointer;
            }
        }
    }
}