@import '../utils/mixins';
@import '../utils/variables';

.meal__item {
    display: flex;
    border-radius: 20px;
    background-color: $white;
    overflow: hidden;
    box-shadow:  rgba(0, 0, 0, 0.1) 0px 4px 15px 0px;

    .meal__description {
        width: 100%;
        padding: 13.5px 15px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        overflow: hidden;
        white-space: nowrap;

        .meal__name {
            overflow: hidden;

            h3 {
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 8px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
    
            p {
                font-size: 15px;
                font-weight: 300;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .meal__price {
            margin-left: 20px;
            span {
                font-size: 15px;
                font-weight: 700;
            }
        }
    }

    .meal__detail {
        display: flex;
        background-color: $mint;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 0 18px;
        margin-right: -4rem;
        transition: margin-right 250ms ease-out;

        .meal__check {
            width: 25px;
            height: 25px;
            background-color: $white;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;

            .fa-check {
                color: $mint;
                font-size: 20px;
            }
        }
    }

    &:hover {
        cursor: pointer;

        & .meal__detail {
            margin-right: 0;
            transition: margin-right 250ms ease-out;
        }
    }
}
